@font-face {
    font-family: 'Post No Bill';
    src: url('./Assets/fonts/postnobillscolombo-regular.woff') format('woff');
}

:root {
    --color-first: #3BEA57;
    --color-second: #4C6CDD;
    --color-black-first: #000000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    --color-third: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: square;
}

a {
    text-decoration: none;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.menu-bg {
    background: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
}

.menu {
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: var(--color-third);
}

li {
    color: var(--color-first);
    margin-right: 50px;
    font-size: 20px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-nav a {
    font-size: 20px;   
    font-family: 'Pontano Sans', sans-serif;
}

button {
    box-shadow:  5px 5px var(--color-black-first);
    background: var(--color-first);
    color: var(--color-third);
    height: 70px;
    width: 150px;
    margin-right: 20px;
    font-size: 20px;
    border: none;
}

.menu-nav li:hover{
    cursor: pointer;
}

button:hover, img:hover {
    cursor: pointer;
}

section {
    display: flex;
}

.banner {
    background-image: url('./Assets/img/banner.png');
    height: 780px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 10px solid var(--color-black-first);
}

.infos {
    background: var(--color-black-second);
    width: 630px;
    height: 190px;
    margin-top: 100px;
    margin-left: 90px;
    box-shadow:  5px 5px var(--color-black-first);
}

.name {
    font-family: 'Post No Bill', Arial, sans-serif;
    color: var(--color-first);
    text-shadow: 4px 4px 0px var(--color-black-first);
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    padding: 0 20px;
}

.dev {
    color: var(--color-third);
    font-family: 'Post No Bill', Arial, sans-serif;
    text-shadow: 4px 4px 0px var(--color-black-first);
    font-weight: 700;
    font-size: 52px;
    padding: 0 20px 15px;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

button:hover {
    background-color: var(--color-black-third);
}

.skills {
    background: var(--color-first);
    height: 740px;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--color-second);
    align-items: center;
}

.title {
    font-size: 80px;
    font-weight: 700;
    font-family: 'Post No Bill', Arial, sans-serif;
    color: var(--color-third);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.wrapper {
    display: flex;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

p {
    color: var(--color-third);
}

.container {
    height: 40px;
    width: 360px;
    background-color: var(--color-third);
    border: 5px solid var(--color-black-first);
    display: flex;
    box-sizing: border-box;
}

.container::before{
    content: '';
    width: 72%;
    background: var(--color-second);
}

.skill-item {
    display: inline-flex;
    margin-top: 40px;
    align-items: center;
}

.skill-item p {
    font-family: 'Pontano Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.skill-item img {
    width: 85px;
    height: 85px;
}

.itens {
    margin-left: 20px;
}

.skill-item .react {
    height: 64px;
}

.skill-item .js {
    height: 74px;
}

.skill-item .restapi {
    height: 64px;
}

.skill-item .ux {
    height: 74px;
}

.project {
    background: var(--color-black-first);
    height: 530px;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--color-first);
}

.project-itens {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 20px;
}

.firedlabs {
    background-image: url('/Assets/img/firedlabs.png');
    height: 280px;
    width: 280px;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 0px var(--color-third);
}

.collabcode {
    background-image: url('/Assets/img/collabcode.png');
    height: 280px;
    width: 280px;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 0px var(--color-third);
}

.portifolio {
    background-image: url('/Assets/img/portifolio.png');
    height: 280px;
    width: 280px;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 0px var(--color-third);
}

.project a:hover {
    cursor: pointer;
}

.sobre {
    background: var(--color-second);
    height: 790px;display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--color-black-first);
}